<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdmin</servlet-name>
        <servlet-class>ViewAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookForm</servlet-name>
        <servlet-class>AddBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentForm</servlet-name>
        <servlet-class>EditStudentForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdminForm</servlet-name>
        <servlet-class>EditAdminForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookForm</servlet-name>
        <servlet-class>EditBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdmin</servlet-name>
        <servlet-class>EditAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentForm</servlet-name>
        <servlet-class>AddStudentForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminForm</servlet-name>
        <servlet-class>AddAdminForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStudent</servlet-name>
        <servlet-class>LogoutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegStudent</servlet-name>
        <servlet-class>RegStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ebooks</servlet-name>
        <servlet-class>Ebooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdmin</servlet-name>
        <url-pattern>/ViewAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookForm</servlet-name>
        <url-pattern>/AddBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/ViewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/DeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentForm</servlet-name>
        <url-pattern>/EditStudentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdminForm</servlet-name>
        <url-pattern>/EditAdminForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookForm</servlet-name>
        <url-pattern>/EditBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdmin</servlet-name>
        <url-pattern>/EditAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentForm</servlet-name>
        <url-pattern>/AddStudentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminForm</servlet-name>
        <url-pattern>/AddAdminForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStudent</servlet-name>
        <url-pattern>/LogoutStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegStudent</servlet-name>
        <url-pattern>/RegStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ebooks</servlet-name>
        <url-pattern>/Ebooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
